<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chat</title>
  <style>
    :root {
      --bg-left: linear-gradient(to left, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5));
      --bg-right: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5));
    }
    * {
      box-sizing: border-box;
    }
    html, body {
      position: relative;
      margin: 0;
      padding: 0;
      height: 100vh;
      font-family: sans-serif;
      overflow-y: hidden;
    }
    .container {
      max-width: 920px;
      margin: 0 auto;
      padding: 8px;
    }
    a {
      color: hsl(0, 0%, 100%);
    }
    #chat {
      margin: 0;
      padding: 4px;
      font-size: 20px;
      font-weight: bold;
      word-wrap: break-word;
      line-height: 1.35em;
      color: #fff;
      text-shadow:
        -1px -1px 0 #000,
        0   -1px 0 #000,
        1px -1px 0 #000,
        1px  0   0 #000,
        1px  1px 0 #000,
        0    1px 0 #000,
        -1px  1px 0 #000,
        -1px  0   0 #000;
    }
    #chat p {
      margin: 0;
    }
    #chat {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 8px;
      overflow: hidden;
    }
    .message {
      display: block;
      padding: 8px;
      margin-top: 8px;
      border: 2px solid #aaa;
      background-color: #eee;
      border-radius: 8px;
    }
    /* Override twitch messages for better colors */
    .message[data-source-type="twitch"] {
      background-color: #d633d666 !important;
      border-color: #d633d6aa !important;
    }
    .message_author, .message_body, .message_author p, .message_body p {
      display: inline;
    }
    .message_author {
      display: flex;
      align-items: center;
      margin-bottom: 4px;
    }
    .message_author p {
      color: #faa;
    }
    img {
      height: 32px;
    }
    img.badge {
      height: auto;
      margin-right: 8px;
      background-color: #fff;
      border-radius: 100%;
    }
  </style>
</head>
<body>
  <div id="chat">
    <div id="chat_scroll">
    {{# messages }}
      <div class="message" data-source-type="{{ source.type }}" style="background-color: {{ source.color }}44; border-color: {{ source.color }}aa">
        <div class="message_author">
          {{# source.isOwncast }}
          <img class="badge" width="24" height="24" src="media/owncast.png" />
          {{/ source.isOwncast }}
          {{# source.isMatrix }}
          <img class="badge" width="24" height="24" src="media/matrix.png" />
          {{/ source.isMatrix }}
          {{# source.isTwitch }}
          <img class="badge" width="24" height="24" src="media/twitch.png" />
          {{/ source.isTwitch }}
          <p style="color: {{ member.color }}">{{ member.displayName }}</p>
        </div>
        <div class="message_body">
          {{ text }}
        </div>
      </div>
    {{/ messages }}
    </div>
  </div>
</body>
<script>
  setTimeout(function(){
    window.location.reload(1);
  }, 1000);
</script>
</html>